<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
  <h1 class="title">Antiguos Eventos</h1>
  <table class="table is-bordered is-striped is-fullwidth" id="oldEventsTable">
    <thead>
    <tr>
      <th style="width:5%">#</th>
      <th style="width:20%">Nombre</th>
      <th style="width:15%">Coste total</th>
      <th style="width:20%">Cliente</th>
      <th style="width:15%">Fecha del evento</th>
      <th style="width:25%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "event, eventStat : ${events}">
      <td th:text="${eventStat.count}"></td>
      <td th:text="${event.name}"></td>
      <td th:text="${event.price}"></td>
      <td th:text="${event.clientName}"></td>
      <td th:text="${#temporals.format(event.eventDay, 'dd MMM yyyy')}"></td>
      <td>
        <a th:href="@{/events/old_events/restore/{eventId}(eventId=${event.id})}"
           class="button is-primary is-small">
          Restaurar
        </a>
        <a th:href="@{/events/old_events/delete/{eventId}(eventId=${event.id})}"
           class="button is-danger is-small">
          Borrar
        </a>
        <a th:href="@{/events/events/view/{eventId}(eventId=${event.id})}"
           class="button is-info is-small">
          Detalles
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/><br/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#oldEventsTable').DataTable();
    });
    $('#eventsTable').DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': [-1]
        }]
    });
</script>

</body>
</html>