<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered"
               th:text="${event.name}"
            ></p>
        </header>
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Tipo de Evento</p>
                        </div>
                        <div class="message-body" th:text="${event.type}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Coste del evento</p>
                        </div>
                        <div class="message-body" th:text="${event.price} + '€'"></div>
                    </article>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Cliente</p>
                        </div>
                        <div class="message-body" th:text="${event.clientName}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message is-success">
                        <div class="message-header">
                            <p>Fecha del evento</p>
                        </div>
                        <div class="message-body" th:text="${#temporals.format(event.eventDay, 'dd MMM yyyy')}"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <h2 class="title">Objetos alquilados</h2>
    <table class="table is-bordered is-striped is-fullwidth">
        <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:35%">Objeto</th>
            <th style="width:15%">Posición</th>
            <th style="width:15%">Cantidad alquilada</th>
            <th style="width:15%">Precio total</th>
            <th style="width:15%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "eventInventoryItem, eventInventoryItemStat : ${eventInventoryItems}">
            <td th:text="${eventInventoryItemStat.count}">1</td>
            <td th:text="${eventInventoryItem.inventoryItemName}">object name</td>
            <td th:text="${eventInventoryItem.inventoryItemPosition}">object position</td>
            <td th:text="${eventInventoryItem.amount} + ' unidades'">amount</td>
            <td th:text="${eventInventoryItem.totalPrice} + '€'">total price</td>
            <td>
                <a th:href="@{/events/events/view/delete/{eventId}/{inventoryItemId}(eventId=${event.id}, inventoryItemId=${eventInventoryItem.inventoryItemId})}"
                   class="button is-danger is-small">
                    Borrar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>