<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br/><br/>
<div class="container">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered"
               th:text="${event.name}"
            ></p>
        </header>
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Tipo de Evento</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.type}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Coste del evento</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.price} + '€'"></div>
                    </article>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Cliente</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.clientName}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Fecha del evento</p>
                        </div>
                        <div class="message-body apricot" th:text="${#temporals.format(event.eventDay, 'dd MMM yyyy')}"></div>
                    </article>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Primer pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.firstPayment} + '€'"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Fecha del primer pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${#temporals.format(event.firstPaymentDay, 'dd MMM yyyy')}"></div>
                    </article>
                </div>
            </div>
            <div th:unless="${event.secondPayment == null}" class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Segundo pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.secondPayment} + '€'"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Fecha del segundo pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${#temporals.format(event.secondPaymentDay, 'dd MMM yyyy')}"></div>
                    </article>
                </div>
            </div>
            <div th:unless="${event.thirdPayment == null}" class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Tercer pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${event.thirdPayment} + '€'"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Fecha del tercer pago</p>
                        </div>
                        <div class="message-body apricot" th:text="${#temporals.format(event.thirdPaymentDay, 'dd MMM yyyy')}"></div>
                    </article>
                </div>
            </div>
            <div>
                <a th:href="@{/events/old_events}"
                   class="button apricot">
                    Volver
                </a>
            </div>
        </div>
    </div>
    <br/><br/>
    <h2 class="title">Objetos alquilados</h2>
    <table class="table is-bordered is-striped is-fullwidth">
        <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:35%">Objeto</th>
            <th style="width:15%">Posición</th>
            <th style="width:15%">Cantidad alquilada</th>
            <th style="width:15%">Precio total</th>
            <th style="width:15%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "eventInventoryItem, eventInventoryItemStat : ${eventInventoryItems}">
            <td th:text="${eventInventoryItemStat.count}"></td>
            <td th:text="${eventInventoryItem.inventoryItemName}"></td>
            <td th:text="${eventInventoryItem.inventoryItemPosition}"></td>
            <td th:text="${eventInventoryItem.amount} + ' unidades'"></td>
            <td th:text="${eventInventoryItem.totalPrice} + '€'"></td>
            <td>
                <a th:href="@{/events/events/view/delete/{eventId}/{inventoryItemId}(eventId=${event.id}, inventoryItemId=${eventInventoryItem.inventoryItemId})}"
                   class="button dune is-small">
                    Borrar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>