<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <h1 class="title">Lista de subtipos</h1>
    <table class="table is-bordered">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:45%">Nombre</th>
            <th style="width:45%">Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "subtype, subtypeStat : ${subtypes}">
            <td th:text="${subtypeStat.count}">1</td>
            <td th:text="${subtype.name}">subtype name</td>
            <td th:text="${subtype.typeName}">type name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>