<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <h1 class="title">Lista de subtipos</h1>
    <table class="table is-bordered is-striped is-fullwidth" id="subtypesTable">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:45%">Nombre</th>
            <th style="width:45%">Tipo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "subtype, subtypeStat : ${subtypes}">
            <td th:text="${subtypeStat.count}"></td>
            <td th:text="${subtype.name}"></td>
            <td th:text="${subtype.typeName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#subtypesTable').DataTable();
    });
</script>
</body>
</html>