<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="types/header :: header"></div>
<body>
<div th:replace="types/header :: navbar"></div>
<br /><br />
<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Nuevo objeto</h2>
      </div>
      <div class="card-body">
        <form role="form" method="post" th:action="@{/types/inventory_items}" th:object="${inventoryItem}" enctype="multipart/form-data" >
          <div class="mb-3">
            <label class="form-label"> Nombre </label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Inserte el nombre del objeto"
                    name="name"
                    th:field="*{name}"
            />
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label"> Posición </label>
            <input
                    type="text"
                    class="form-control"
                    id="position"
                    placeholder="Inserte la posición del objeto"
                    name="position"
                    th:field="*{position}"
            />
            <p th:if="${#fields.hasErrors('position')}" class="text-danger" th:errors="*{position}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label"> Precio </label>
            <input
                    type="number"
                    class="form-control"
                    id="price"
                    placeholder="Inserte el precio del objeto"
                    name="price"
                    th:field="*{price}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Color </label>
            <input
                    type="text"
                    class="form-control"
                    id="color"
                    placeholder="Inserte el color del objeto"
                    name="color"
                    th:field="*{color}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Tamaño </label>
            <input
                    type="text"
                    class="form-control"
                    id="size"
                    placeholder="Inserte el tamaño del objeto"
                    name="size"
                    th:field="*{size}"
            />
          </div>
          <div class="mb-3">
            <label class="form-label"> Disponibilidad </label>
            <textarea
                    class="form-control"
                    id="availability"
                    placeholder="Rellene la disponibilidad del objeto"
                    rows="3"
                    name="availability"
                    th:field="*{availability}"
            >
            </textarea>
          </div>
          <div class="mb-3">
            <label class="form-label"> Tipo </label>
            <select th:field="*{typeId}">
              <option th:each="type: ${listTypes}"
                      th:value="${type.id}"
                      th:text="${type.name}"
              ></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label"> Subtipo </label>
            <select th:field="*{subtypeId}">
              <option th:each="subtype: ${listSubtypes}"
                      th:value="${subtype.id}"
                      th:text="${subtype.name}"
              ></option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label"> Imagen </label>
            <input
                    type="file"
                    class="form-control"
                    id="picture"
                    name="file"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>