<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="types/header :: header"></div>
<body>
<div th:replace="types/header :: navbar"></div>

<div class="container">
    <div class="row">
        <h1>Lista de tipos de objetos</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:5%">Pos.</th>
        <th style="width:15%">Nombre</th>
        <th style="width:10%">Precio</th>
        <th style="width:25%">Disponibilidad</th>
        <th style="width:15%">Tipo</th>
        <th style="width:15%">Subtipo</th>
        <th style="width:15%">Acciones</th>
        </thead>
        <tbody>
        <tr th:each = "inventoryItem, inventoryItemStat : ${inventoryItems}">
            <td th:text="${inventoryItem.position}">1</td>
            <td th:text="${inventoryItem.name}">post title</td>
            <td th:text="${inventoryItem.price}">post title</td>
            <td th:text="${inventoryItem.availability}">post title</td>
            <td th:text="${inventoryItem.typeName}">post title</td>
            <td th:text="${inventoryItem.subtypeName}">post title</td>
            <!--<td>
                <img class="img-thumbnail rounded float-left"
                th:src="@{'/images/' + ${inventoryItem.picture}}"
                style="max-width:25%;">
            </td>-->
            <td>
                <a th:href="@{/types/inventory_items/{inventoryItemId}/edit(inventoryItemId=${inventoryItem.id})}"
                   class="btn btn-primary">
                    Edit
                </a>
                <a th:href="@{/types/inventory_items/{inventoryItemId}/delete(inventoryItemId=${inventoryItem.id})}"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>