<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="types/header :: header"></div>
<body>
<div th:replace="types/header :: navbar"></div>
<div class="container">
    <div class="row">
        <h1>Lista de subtipos de objetos</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:20%">#</th>
        <th style="width:30%">Nombre</th>
        <th style="width:30%">Tipo</th>
        <th style="width:20%">Acciones</th>
        </thead>
        <tbody>
        <tr th:each = "subtype, subtypeStat : ${subtypes}">
            <td th:text="${subtypeStat.count}">1</td>
            <td th:text="${subtype.name}">subtype name</td>
            <td th:text="${subtype.typeName}">type name</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>