<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="types/header :: header"></div>
<body>
<div th:replace="types/header :: navbar"></div>

<div class="container">
    <div class="row">
        <h1>Lista de tipos de objetos</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width:20%">#</th>
        <th style="width:40%">Nombre</th>
        <th style="width:40%">Acciones</th>
        </thead>
        <tbody>
        <tr th:each = "type, typeStat : ${types}">
            <td th:text="${typeStat.count}">1</td>
            <td th:text="${type.name}">post title</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>