<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <h1 class="title">Lista de tipos</h1>
    <table class="table is-bordered is-striped is-fullwidth" id="typesTable">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:90%">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "type, typeStat : ${types}">
            <td th:text="${typeStat.count}">1</td>
            <td th:text="${type.name}">type name</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#typesTable').DataTable();
    });
</script>
</body>
</html>