<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br /><br />
<div class="container">
    <div class="card">
        <header class="card-header" style="padding-left:37%;">
            <p th:text="'Error al borrar el cliente \'' + ${clientName} + '\''" class="card-header-title"></p>
        </header>
        <div class="card-content" style="text-align:center;">
            <div class="content">
                No es posible borrar de manera definitiva un cliente mientras éste tenga asociados eventos. Por favor, si desea borrar el cliente, elimine antes sus eventos asociados.
            </div>
            <div>
                <a th:href="@{/clients/old_clients}"
                   class="button dune">
                    Clientes antiguos
                </a>
                <a th:href="@{/events/events}"
                   class="button apricot">
                    Eventos
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>