<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
  <h1 class="title">Lista de Clientes</h1>
  <table class="table is-bordered is-striped is-fullwidth" id="clientsTable">
    <thead>
    <tr>
      <th style="width:5%">#</th>
      <th style="width:25%">Nombre</th>
      <th style="width:15%">Email</th>
      <th style="width:10%">DNI</th>
      <th style="width:10%">Móvil</th>
      <th style="width:20%">Dirección</th>
      <th style="width:15%">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "client, clientStat : ${clients}">
      <td th:text="${clientStat.count}">1</td>
      <td th:text="${client.name}">client name</td>
      <td th:text="${client.email}">client email</td>
      <td th:text="${client.dni}">client dni</td>
      <td th:text="${client.phoneNumber}">client phone</td>
      <td th:text="${client.address}">client address</td>
      <td>
        <a th:href="@{/clients/clients/edit/{clientId}(clientId=${client.id})}"
           class="button is-primary is-small">
          Edit
        </a>
        <a th:href="@{/clients/clients/delete/{clientId}(clientId=${client.id})}"
           class="button is-danger is-small">
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#clientsTable').DataTable();
    });
    $('#clientsTable').DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': [-1]
        }]
    });
</script>
</body>
</html>