<!--<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form method="post"
                          th:action="@{/login}"
                          role="form"
                          class="box">
                        <div class="field">
                            <label for="username" class="label">Usuario</label>
                            <div class="control">
                                <input
                                        type="text"
                                        id="username"
                                        name="username"
                                        placeholder="Enter username"
                                        class="input"
                                        required
                                >
                                <span class="icon is-small is-left"></span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Contraseña</label>
                            <div class="control">
                                <input type="password"
                                       placeholder="*******"
                                       class="input"
                                       id="password"
                                       name="password"
                                       required
                                >
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>-->