<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br/><br/>
<div class="container">
    <h1 class="title">Lista de objetos</h1>
    <table class="table is-bordered is-striped is-fullwidth" id="itemsTable">
        <thead>
            <tr>
                <th style="width:5%">Id</th>
                <th style="width:20%">Objeto</th>
                <th style="width:10%">Posición</th>
                <th style="width:15%">Cantidad</th>
                <th style="width:15%">Tipo</th>
                <th style="width:15%">Subtipo</th>
                <th style="width:20%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "inventoryItem : ${inventoryItems}">
                <td th:text="${inventoryItem.id}"></td>
                <td th:text="${inventoryItem.name}"></td>
                <td th:text="${inventoryItem.position}"></td>
                <td th:text="${inventoryItem.amount} + ' unidades'"></td>
                <td th:text="${inventoryItem.typeName}"></td>
                <td th:text="${inventoryItem.subtypeName}"></td>

                <td>
                    <a th:href="@{/items/inventory_items/edit/{inventoryItemId}(inventoryItemId=${inventoryItem.id})}"
                       class="button apricot is-small">
                        Editar
                    </a>
                    <a th:href="@{/items/inventory_items/delete/{inventoryItemId}(inventoryItemId=${inventoryItem.id})}"
                       class="button dune is-small">
                        Archivar
                    </a>
                    <a th:href="@{/items/inventory_items/view/{inventoryItemId}(inventoryItemId=${inventoryItem.id})}"
                       class="button copper is-small">
                        Detalles
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function()  {
        $('#itemsTable').DataTable();
    });
    $('#itemsTable').DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': [-1]
        }]
    });
</script>
</body>
</html>