<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-centered"
                   th:text="${inventoryItem.name}"
                ></p>
            </header>
            <div class="card-content">
                <div class="columns">
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Posición</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.position}"></div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Precio</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.price}"></div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Color</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.color}"></div>
                        </article>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Tamaño</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.size}"></div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Cantidad</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.amount}"></div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Veces alquilado</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.timesRented}"></div>
                        </article>
                    </div>
                </div>
                <article class="message is-success">
                    <div class="message-header">
                        <p>Disponibilidad</p>
                    </div>
                    <div class="message-body" th:text="${inventoryItem.availability}"></div>
                </article>
                <div class="columns">
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Tipo</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.typeName}"></div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-success">
                            <div class="message-header">
                                <p>Subtipo</p>
                            </div>
                            <div class="message-body" th:text="${inventoryItem.subtypeName}"></div>
                        </article>
                    </div>
                </div>
                <hr />
                <div style="text-align:center;">
                    <img th:src="@{'/images/' + ${inventoryItem.picture}}"
                         style="max-width:25%;">
                </div>
                <div>
                    <a th:href="@{/items/inventory_items/rent/{inventoryItemId}(inventoryItemId=${inventoryItem.id})}"
                       class="button is-primary">
                        Alquilar
                    </a>
                    <a th:href="@{/items/inventory_items}"
                       class="button is-light">
                        Volver
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>