<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventario App</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<br/><br/>
<div class="container">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered"
               th:text="${inventoryItem.name}"
            ></p>
        </header>
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Posición</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.position}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Precio</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.price} + '€'"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Color</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.color}"></div>
                    </article>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Tamaño</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.size}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Cantidad</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.amount} + ' unidades'"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Veces alquilado</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.timesRented}"></div>
                    </article>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Tipo</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.typeName}"></div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header copper">
                            <p>Subtipo</p>
                        </div>
                        <div class="message-body apricot" th:text="${inventoryItem.subtypeName}"></div>
                    </article>
                </div>
            </div>
            <hr />
            <div style="text-align:center;">
                <img th:src="@{'/images/' + ${inventoryItem.picture}}"
                     style="max-width:25%;">
            </div>
            <div>
                <a th:if="${isNew} == true" th:href="@{/items/inventory_items/rent/{inventoryItemId}(inventoryItemId=${inventoryItem.id})}"
                   class="button dune">
                    Alquilar
                </a>
                <a th:if="${isNew} == true" th:href="@{/items/inventory_items}"
                   class="button apricot">
                    Volver
                </a>
                <a th:if="${isNew} == null" th:href="@{/items/old_inventory_items}"
                   class="button apricot">
                    Volver
                </a>
            </div>
        </div>
    </div>
    <br/><br/>
    <h2 th:if="${isNew} == true" class="title">Disponibilidad</h2>
    <table th:if="${isNew} == true" class="table is-bordered is-striped is-fullwidth">
        <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:25%">Evento</th>
            <th style="width:15%">Fecha</th>
            <th style="width:30%">Cliente</th>
            <th style="width:15%">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "eventInventoryItem, eventInventoryItemStat : ${eventInventoryItems}">
            <td th:text="${eventInventoryItemStat.count}"></td>
            <td th:text="${eventInventoryItem.eventName}"></td>
            <td th:text="${#temporals.format(eventInventoryItem.eventDay, 'dd MMM yyyy')}"></td>
            <td th:text="${eventInventoryItem.clientName}"></td>
            <td th:text="${eventInventoryItem.amount} + ' unidades'"></td>
        </tr>
        </tbody>
    </table>
    <br/><br/><br/>
</div>
</body>
</html>